:root {
  --color-202124: #202124;
  --color-e8eaed: #e8eaed;
  --color-93b3f2: #93b3f2;
  --color-86a5b1: #86a5b1;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  color: var(--color-93b3f2);
  background-color: rgba(32, 33, 36, 1);
  height: 100vh;
  overflow: overlay;
}

#app {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-86a5b1);
  border-radius: 8px;
  background-clip: content-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
